body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

ul{
  background-color: black;
  width: 100%;
  position: fixed;
  margin: 0;
  top: 0;
}
ul li{
  display: inline-block;
  padding: 18px;
  color: white;
}

.container{
  min-height: 400px;
  padding: 80px 0 100px;
  width: 80%;
  margin: auto;
  text-align: center;
}
.container h1{
  padding-top: 200px;
}
h2{
  font-size: 36px;
  color: red;
}

.pagelink{
  color: white;
  text-decoration: none;
}

.pagelink:hover{
  color: chartreuse;
}

.item{
  display: inline-block;
  width: 33%;
  font-size: 25px;
  text-align: center;
}

footer{
  color: white;
  background-color: black;
  text-align: center;
  position: fixed;
  width: 100%;
  bottom: 0;
  margin:0;
}

.citylist{
  display: grid;
  grid-template-columns: auto auto auto auto;
}

.citylist div{
  border: 3px solid cyan;
  margin: 20px;
  padding: 5px 0px 20px;
  border-radius: 11%;
  background-color: darkcyan ;
  color: white;
  font-weight: bolder;
  font-size: larger;
}

.cityinput[type=text]{
  padding: 8px 10px;
  border: 3px solid darkcyan;
  border-radius: 8%;
  color: darkcyan;
  font-size: medium;
  font-weight: bolder;
  margin: 0 10px;
  }

.citybtn{
  border: 1px solid cyan;
  padding: 5px;
  border-radius: 50%;
  background: powderblue;
  cursor: pointer;
  font-size: medium;
  padding: 10px 20px;
}